In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_column',None)
pd.set_option('display.max_row',None)

In [4]:
df=pd.read_csv('titanic-training-data.csv')

In [71]:
#### statistical part

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
171,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.1250,NaN,Q
422,423,0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S

In [7]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [8]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [77]:
df['Ticket'].value_counts()

347082                7
CA. 2343              7
1601                  7
3101295               6
CA 2144               6
347088                6
S.O.C. 14879          5
382652                5
LINE                  4
PC 17757              4
17421                 4
349909                4
113760                4
4133                  4
113781                4
W./C. 6608            4
2666                  4
19950                 4
347077                4
C.A. 31921            3
PC 17572              3
C.A. 34651            3
363291                3
F.C.C. 13529          3
345773                3
248727                3
24160                 3
29106                 3
SC/Paris 2123         3
35273                 3
371110                3
230080                3
PC 17760              3
239853                3
PC 17582              3
347742                3
110152                3
13502                 3
110413                3
PC 17755              3
PC 17558              2
237736                2
17474                 2
PC 17758              2
PP 9549               2
S.O./P.P. 3           2
P/PP 3381             2
PC 17485              2
2668                  2
2627                  2
PC 17604              2
2653                  2
2665                  2
113798                2
31027                 2
2908                  2
W./C. 6607            2
WE/P 5735             2
35281                 2
113789                2
244367                2
231919                2
110465                2
PC 17477              2
2699                  2
367226                2
113806                2
230136                2
111361                2
113505                2
113803                2
370365                2
364849                2
358585                2
250644                2
C.A. 37671            2
250647                2
16966                 2
36928                 2
113776                2
392096                2
C.A. 33112            2
A/4 48871             2
STON/O2. 3101279      2
2691                  2
2678                  2
PC 17593              2
7534                  2
PC 17608              2
11767                 2
347054                2
243847                2
PC 17761              2
28403                 2
244252                2
11668                 2
2659                  2
2661                  2
C.A. 2673             2
370129                2
36973                 2
113572                2
13507                 2
A/5. 3336             2
17453                 2
19928                 2
347080                2
367230                2
54636                 2
250655                2
PC 17569              2
26360                 2
376564                2
11967                 2
19877                 2
220845                2
PC 17611              2
C.A. 2315             2
36947                 2
11751                 2
230433                2
345764                2
2651                  2
239865                2
19943                 2
3101278               2
250649                2
29750                 2
364516                2
248738                2
12749                 2
19996                 2
S.C./PARIS 2079       2
349237                2
STON/O 2. 3101273     1
349224                1
A./5. 3235            1
14973                 1
SC/AH 29037           1
219533                1
A/5 3902              1
364848                1
349214                1
36963                 1
31028                 1
349910                1
349246                1
347743                1
113804                1
364511                1
SOTON/O.Q. 3101305    1
364512                1
11753                 1
334912                1
113796                1
111426                1
27042                 1
350029                1
13214                 1
2664                  1
112052                1
370377                1
A/5 21171             1
13567                 1
PC 17473              1
364846                1
330909                1
4135                  1
111427                1
C 4001                1
382651                1
SOTON/OQ 3101316      1
PC 17603              1
350035                1
349209                1
36967                 1
C.A. 34260            1
226875                1
349242                1
349252                1
2624                  1
315086                1
C.A. 6212             1
237565                1
239854                1
323592                1
315089                1
SC/AH Basle 541       1
7553                  1
3460                  1
350060                1
3101298               1
A/5 3594              1
A/4 45380             1
4134                  1
11771                 1
A.5. 18509            1
65304                 1
SOTON/OQ 3101317      1
113787                1
PC 17609              1
2700                  1
367232                1
W./C. 14258           1
PC 17474              1
SOTON/OQ 392082       1
SOTON/O.Q. 392087     1
349205                1
2686                  1
350417                1
S.W./PP 752           1
11769                 1
14312                 1
PC 17483              1
A/4. 20589            1
243880                1
2689                  1
STON/O 2. 3101286     1
237789                1
13049                 1
3411                  1
218629                1
349251                1
372622                1
345572                1
3101296               1
29104                 1
2641                  1
2690                  1
315084                1
113050                1
364498                1
13568                 1
693                   1
SC/PARIS 2146         1
244358                1
330979                1
2620                  1
347085                1
11755                 1
113807                1
342826                1
237668                1
3474                  1
2685                  1
2625                  1
347089                1
347063                1
112050                1
347087                1
248723                1
28206                 1
2671                  1
364499                1
112058                1
STON/O2. 3101290      1
C 7075                1
315098                1
19972                 1
368323                1
349244                1
17465                 1
28213                 1
349203                1
8471                  1
345781                1
350047                1
2674                  1
29105                 1
347078                1
383121                1
36865                 1
2687                  1
113501                1
SOTON/O.Q. 3101312    1
374887                1
3101265               1
12460                 1
PC 17600              1
367228                1
347468                1
STON/O 2. 3101292     1
349212                1
SC/PARIS 2149         1
PC 17590              1
345777                1
349248                1
695                   1
345765                1
2667                  1
349217                1
2223                  1
349257                1
7552                  1
C.A./SOTON 34068      1
SOTON/OQ 392076       1
211536                1
112053                1
111369                1
236852                1
233866                1
17466                 1
28134                 1
PC 17756              1
315097                1
392092                1
11774                 1
SOTON/O2 3101287      1
2683                  1
315090                1
C.A. 5547             1
349213                1
347060                1
PC 17592              1
392091                1
113055                1
2629                  1
350026                1
364850                1
112379                1
347074                1
6563                  1
C.A. 24580            1
244270                1
239856                1
349912                1
113792                1
4138                  1
330935                1
349228                1
2663                  1
350036                1
349256                1
2672                  1
113800                1
248731                1
363592                1
35852                 1
F.C. 12750            1
A/5 3536              1
312993                1
234686                1
350050                1
349231                1
13213                 1
S.O./P.P. 751         1
CA. 2314              1
349221                1
8475                  1
330919                1
365226                1
349223                1
29751                 1
2623                  1
5727                  1
349210                1
STON/O 2. 3101285     1
348121                1
PC 17475              1
36864                 1
28425                 1
349201                1
349218                1
16988                 1
376566                1
STON/O 2. 3101288     1
250648                1
113773                1
335097                1
29103                 1
345780                1
349204                1
350042                1
29108                 1
363294                1
SOTON/O2 3101272      1
233639                1
239855                1
350025                1
STON/O2. 3101271      1
223596                1
PC 17476              1
PC 17482              1
113028                1
7545                  1
348124                1
34218                 1
36568                 1
347062                1
350048                1
12233                 1
250643                1
315094                1
36866                 1
236853                1
36209                 1
244278                1
SOTON/O.Q. 3101306    1
SOTON/OQ 392090       1
S.O.P. 1166           1
A.5. 11206            1
A/5. 851              1
Fa 265302             1
PC 17597              1
35851                 1
315037                1
350043                1
371362                1
C.A. 33595            1
347068                1
315093                1
PC 17318              1
111240                1
244310                1
231945                1
17764                 1
349241                1
370369                1
A4. 54510             1
27267                 1
370372                1
C 17369               1
347061                1
SOTON/O.Q. 3101307    1
365222                1
A/5. 3337             1
228414                1
C.A. 29178            1
SC/PARIS 2133         1
11752                 1
347081                1
STON/O 2. 3101280     1
350404                1
A/S 2816              1
367229                1
367231                1
112277                1
SOTON/O.Q. 3101311    1
F.C.C. 13528          1
A/5 21174             1
250646                1
STON/O2. 3101283      1
2628                  1
11813                 1
W/C 14208             1
SOTON/OQ 392089       1
220367                1
21440                 1
349234                1
A/5 3540              1
3101264               1
PC 17595              1
234604                1
250653                1
SC/PARIS 2131         1
315153                1
113767                1
111428                1
349247                1
28424                 1
345770                1
350046                1
PC 17610              1
368703                1
4579                  1
370370                1
248747                1
STON/O 2. 3101294     1
4136                  1
324669                1
330958                1
335677                1
C.A. 24579            1
2677                  1
A./5. 2152            1
7546                  1
349253                1
S.C./A.4. 23567       1
349216                1
370371                1
14311                 1
2662                  1
A/4. 39886            1
2926                  1
113509                1
PC 17601              1
330959                1
349249                1
350406                1
STON/O2. 3101282      1
373450                1
330877                1
17463                 1
113783                1
A/5. 2151             1
248706                1
2631                  1
244373                1
345763                1
2649                  1
248698                1
330923                1
113788                1
19947                 1
C.A. 31026            1
2697                  1
PC 17759              1
343276                1
347466                1
W.E.P. 5734           1
364500                1
374910                1
PC 17754              1
349245                1
2669                  1
349215                1
7540                  1
3101276               1
349207                1
343120                1
312991                1
343275                1
SOTON/OQ 392086       1
SO/C 14885            1
113059                1
330932                1
345779                1
345767                1
374746                1
349208                1
348123                1
2680                  1
C.A. 33111            1
315151                1
3101281               1
S.P. 3464             1
C.A. 29395            1
PC 17605              1
PP 4348               1
SW/PP 751             1
A/5 21173             1
341826                1
3101277               1
350052                1
350407                1
PC 17599              1
240929                1
STON/O 2. 3101289     1
4137                  1
SC 1748               1
315096                1
28664                 1
347064                1
312992                1
349222                1
394140                1
350034                1
367655                1
330980                1
3101267               1
SOTON/O.Q. 3101310    1
C 7076                1
110813                1
2626                  1
14313                 1
11765                 1
323951                1
27849                 1
C 7077                1
113503                1
2648                  1
347069                1
STON/O 2. 3101293     1
349227                1
STON/O 2. 3101269     1
343095                1
28220                 1
13509                 1
113794                1
113786                1
65303                 1
113051                1
A/5 2817              1
349240                1
17464                 1
250652                1
F.C.C. 13531          1
371060                1
19952                 1
364506                1
111320                1
234360                1
33638                 1
65306                 1
230434                1
347076                1
345769                1
C.A. 18723            1
STON/O 2. 3101274     1
SC/AH 3085            1
110564                1
SOTON/O.Q. 392078     1
364851                1
2003                  1
A/4. 34244            1
315082                1
A/5. 13032            1
349254                1
28228                 1
SC/PARIS 2167         1
330931                1
236171                1
347464                1
C.A. 17248            1
347083                1
PC 17596              1
370375                1
347073                1
336439                1
345778                1
112059                1
A/5. 10482            1
113056                1
349239                1
345774                1
349206                1
237798                1
382649                1
384461                1
237671                1
SCO/W 1585            1
347067                1
237442                1
C.A. 29566            1
W./C. 6609            1
26707                 1
28665                 1
W./C. 14263           1
PC 17585              1
STON/O 2. 3101275     1
2694                  1
347071                1
362316                1
113514                1
2650                  1
370373                1
SC/Paris 2163         1
349236                1
31418                 1
7598                  1
113784                1
248740                1
244361                1
229236                1
248733                1
386525                1
349233                1
315088                1
7267                  1
113510                1
2695                  1
2647                  1
345783                1
349225                1
113043                1
28551                 1
345364                1
234818                1
349219                1
A/5 21172             1
29011                 1
347470                1
349243                1
250651                1
A/5 2466              1
226593                1
9234                  1
19988                 1
2693                  1
PC 17612              1
370376                1
Name: Ticket, dtype: int64

In [10]:
df.shape

(891, 12)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [80]:
#### droping "name, ticket,fare,cabin"

In [81]:
df.drop(('Name','Ticket','Fare','Cabin').axis=1,inplace=True)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2068067310.py, line 1)

In [12]:
df.drop('Name',axis=1,inplace=True)

In [13]:
df.drop('Ticket',axis=1,inplace=True)

In [14]:
df.drop('Fare',axis=1,inplace=True)

In [15]:
df.drop('Cabin',axis=1,inplace=True)

In [16]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
count,891.000000,891.000000,891.000000,891,714.000000,891.000000,891.000000,889
unique,NaN,NaN,NaN,2,NaN,NaN,NaN,3
top,NaN,NaN,NaN,male,NaN,NaN,NaN,S
freq,NaN,NaN,NaN,577,NaN,NaN,NaN,644
mean,446.000000,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,NaN
std,257.353842,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,NaN
min,1.000000,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,NaN
25%,223.500000,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,NaN
50%,446.000000,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,NaN
75%,668.500000,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,NaN
max,891.000000,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,NaN

In [17]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Embarked         2
dtype: int64

### Replacing missing values

In [18]:
median1=df['Age'].median()
median1

28.0

In [19]:
df['Age'].replace(np.nan,median1,inplace=True)

In [ ]:
df.isnull().sum()

In [20]:
mode1=df['Embarked'].mode().values[0]
mode1

'S'

In [21]:
df['Embarked'].replace(np.nan,mode1,inplace=True)

In [ ]:
df.isnull().sum()

## Encoding

In [22]:
df=pd.get_dummies(df,columns=['Embarked','Sex'])

In [ ]:
df.sample()

In [ ]:
#### data split

In [23]:

Y=df['Survived']
X=df.drop(["Survived"],axis=1)

In [24]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [25]:
model1=LogisticRegression()

In [26]:
model1.fit(X_train,Y_train)

LogisticRegression()

In [27]:
model1.score(X_train,Y_train)

0.8089887640449438

In [28]:
model1.score(X_test,Y_test)

0.7611940298507462